html, body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: monospace;
	font-size: 24px;
	color: #aaaaaa; /* text color */
}

#topdiv
{
	height: 20%;
}

#logo
{
	/* Horizontally center */
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%; /* force it to fit in the top div */
}

#leftdiv
{
	float: left;
	width: 20%;
	height: 75%;
	display: table;  /* allows for vertical centering */
}

#controlsdiv
{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.textbox
{
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#middlediv
{
	float: left;
	width: 60%;
	height: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#rightdiv
{
	float: right;
	width: 20%;
	height: 75%;
	display: table;
}

#leveldiv
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}